/* Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

*{
    box-sizing:border-box;
    border:1px solid grey;
    max-width:100%;
    padding:0;
    margin:0;
}

/* General styles */

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    line-height:1.5;
    color:4f4f4f;
    background-color:fbfffb;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration:none;
    color:#266035;
}

h1, h2, h3{
    font-family: 'Oxygen', sans-serif;
    color:#266035;
    text-align:center;
}

h1{
    color:white;
    font-size:5rem;
}

h2{
    font-size:3.5rem;
}

h3{
    font-size:2.5rem;
}

button{
    background-color:#266035;
    padding:3% 4%;
    font-size:1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fbfffb;
}

/* header */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    position:fixed;
    z-index: 999;
    width:100%;
    background-color:rgba(255, 255, 255, 0.8);
}

.logo{
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70%;
}

.links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
}

/* top section styling */

#top{
    height: 90vh;
    background-image:url(../images/header.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

#top button{
    background-color:#fbfffb;
    border:2px solid #266035;
    color:#266035;
    margin-top:5%;
}

#top button:hover{
    background-color: #262626;
    color:#fbfffb;
}

/* About section */

#about{
    height:80vh;
    background-image: url(../images/about-img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

#about .txt{
    width:25%;
    margin-right:10%;
}

/* Shop section styles */

.container{
    display:flex;
    flex-wrap:wrap;
}

.shoptxt, .bgimg{
    width:50%;
}

.shoptxt{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:6% 4%;
    text-align:center;
}

.shoptxt div{
    width:65%;
}

.shoptxt div button{
    margin-top:5%;
}

.bgimg{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.succulants{
    background-image:url(../images/succulants.jpg);
}

.cacti{
    background-image:url(../images/cacti.jpg);
}
.tropicals{
    background-image: url(../images/tropicals.jpg);
}

/* Footer section styles */

#contact{
    display:flex;
    flex-wrap:wrap;
    color:#fff;
    background-color:#266035;
}

#contact a, #contact h3{
    color:#fff;
    text-align:left;
}

#contact h2{
    width:100%;
    color:#fff;
}

.left, .right{
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom{
    width:100%;
    text-align:right;
    margin:;
}

/* Responsive Styles */

